.animate-gradient {
  background-size: 222%;
  -webkit-animation: animatedgradient 3s ease infinite alternate;
  -moz-animation: animatedgradient 3s ease infinite alternate;
  animation: animatedgradient 3s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#grad {
  background-image: linear-gradient(
    to bottom right,
    #b6fffa,
    #98e4ff,
    #80b3ff,
    #687eff
  );
  z-index: -100;
}
#dark_grad {
  background-image: linear-gradient(
    to bottom right,
    #2c74b3,
    #205295,
    #144272,
    #0a2647
  );
}
