@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
.note_font {
  font-family: "Cedarville Cursive", cursive;
}
.note {
  width: 8vw;
  height: 2vw;
  background-color: #b6fffa;
}
