.search_form {
  background-color: #687eff;
  padding: 0.5rem 1rem;
}
.search_bar {
  color: #b6fffa;
  border-right: #b6fffa solid 2px;
  flex-grow: 1;
}
.search_bar::placeholder {
  color: #b6fffa;
}
.search_bar:focus {
  outline: none;
}
.to_top {
  --tw-translate-y: 36rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
